@model DataCenter.Models.LoginModel
@{
      ViewBag.Title = "Login";
}


<div class="col-md-12">
    <div class="row">
        <div class="auto-card">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <h2>Login</h2>
                    </div>
                    <form action="/Account/Login" method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <input type="email" class="form-control" name="Email" placeholder="Enter email-address" />
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" name="Password" placeholder="Enter password" />
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <a href="/forgetPassWord">Forgot Password</a>
                        </div>
                        <div class="form-group">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary col-md-12 mb-2">Login</button>
                        </div>
                        <div class="form-group text-center">
                            <a href="/Account/Register">Don't have an account? Sign up</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

