
@{
    ViewBag.Title = "Dashboard";
}


<div class="col-md-12">
    <div class="breadcrumb">
        <h4>Dashboard</h4>
    </div>
</div>

<div class="col-md-12">
    <div class="row">

        <div class="col-md-6">
            <div class="slick-card">
                <h4 class="card-title">Employee Management</h4>
                <p class="card-text mb-3">
                    You can manage employee using this Data Center Application.
                    It has an employee module for you to perform some actions like Add, Delete, Edit and some other actions.
                </p>

                <div class="btn-group">
                    <a href="/Employee/Index" class="btn c-btn btn-outline-success"> Manage Employee</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="slick-card">
                <h4 class="card-title">Department Management</h4>
                <p class="card-text mb-3">
                    You can manage department using this Data Center Application.
                    It has an employee module for you to perform some actions like Add, Delete, Edit and some other actions.
                </p>

                <div class="btn-group">
                    <a href="/Department/Index" class="btn c-btn btn-outline-success"> Manage Department</a>
                </div>
            </div>
        </div>
    </div>
</div>

